<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form action="http://localhost:8080/ConnectFramework2/createPartnershipRequest/" method="GET">
    <select name="partnershipLevel.id">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>

        <input type = "submit" value="create">

    </select>

</form>

</body>
</html>