<html>
<head>
    <link rel="stylesheet"
          href="css/grid.css">
    <link rel="stylesheet"
          href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script>
        function addCriteria(name, cType) {
            if (cType == 'text') {
                var criteriaData = '<div class="grid__col grid__col--4-of-12"> <label>' + name + '</label> </div> <div class="grid__col grid__col--8-of-12"> <input class="form-control" type="' + cType + '"> </div>';
                $('#addLevelCriteria').append(criteriaData);
            }
            else if (cType == 'file') {
                var criteriaData = '<div class="grid__col grid__col--4-of-12"> <label>' + name + '</label> </div> <div class="grid__col grid__col--8-of-12"> <input type="' + cType + '"> </div>';
                $('#addLevelCriteria').append(criteriaData);
            } else if (cType == 'date'){
                var criteriaData = '<div class="grid__col grid__col--4-of-12"> <label>' + name + '</label> </div> <div class="grid__col grid__col--8-of-12"> <input type="' + cType + '"> </div>';
                $('#addLevelCriteria').append(criteriaData);
            }
        }



    </script>
</head>
<body>
<div class="main-body">
    <div class="grid">
        <div class="grid__col grid__col--12-of-12">
            <h1>CF_Admin Interface</h1>
        </div>
    </div>
    <div class="grid">
        <div class="grid__col grid__col--9-of-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h3 class="panel-title">Partnership Levels</h3>
                </div>
                <div class="panel-body">
                    <div class="grid">
                        <div class="grid__col grid__col--1-of-12">
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#myModalLevel">Add Level
                            </button>
                            <p></p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>Date Created</th>
                                <th>Level</th>
                                <th>Options</th>
                            </tr>
                            <tr>
                                <td>Institute D</td>
                                <td>12/08/2014</td>
                                <td>Level 2</td>
                                <td>
                                    <button class="btn btn-default btn-sm" value="Edit">Edit</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModalLevel" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Create New Level</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div id="addLevelCriteria" class="grid">

                                            <div class="grid__col grid__col--4-of-12">
                                                <label>Level Name:</label>
                                            </div>
                                            <div class="grid__col grid__col--8-of-12">
                                                <input class="form-control" type="text">
                                            </div>

                                        </div>
                                    </form>
                                    <button type="button" class="btn btn-default"
                                            onclick="$('#createCriteria').removeAttr('style');">Add New Criteria
                                    </button>
                                    <p></p>

                                    <div id="createCriteria" class="grid" style="display: none;">
                                        <div class="grid__col grid__col--12-of-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">Create Criteria</div>
                                                <div class="panel-body">
                                                    <form id="criteriaForm">
                                                        <div class="grid">
                                                            <div class="grid__col grid__col--6-of-12">
                                                                <label>Criteria Name</label>
                                                                <br>
                                                                <label>Criteria type</label>
                                                            </div>
                                                            <div class="grid__col grid__col--6-of-12">
                                                                <input id="criteriaText" class="form-control" type="text">
                                                                <label class="checkbox-inline">
                                                                    <input type="radio" name="type" id="inlineCheckbox1"
                                                                           value="text"> Text
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input type="radio" name="type" id="inlineCheckbox2"
                                                                           value="file"> Document
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input type="radio" name="type" id="inlineCheckbox3"
                                                                           value="date"> Date
                                                                </label>
                                                            </div>


                                                            <div class="grid__col grid__col--10-of-12">

                                                            </div>
                                                            <div class="grid__col grid__col--2-of-12">
                                                                <button type="button" class="btn btn-default btn-block"
                                                                        onclick="addCriteria($('#criteriaText').val(),$('input[name=type]:checked', '#criteriaForm').val())">Add
                                                                </button>
                                                            </div>
                                                            <div class="grid__col grid__col--1-of-12">

                                                            </div>
                                                        </div>

                                                    </form>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Activity Categories</h3>
                </div>
                <div class="panel-body">
                    <div class="grid">
                        <div class="grid__col grid__col--1-of-12">
                            <button class="btn btn-default">Add Category</button>
                            <p></p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Category Name</th>
                                <th>Date Created</th>
                                <th>Activity Type</th>
                                <th>Options</th>
                            </tr>
                            <tr>
                                <td>Category A</td>
                                <td>12/08/2014</td>
                                <td>Exchange</td>
                                <td>
                                    <button class="btn btn-default btn-sm" value="Edit">Edit</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Activity Type</h3>
                </div>
                <div class="panel-body">
                    <div class="grid">
                        <div class="grid__col grid__col--1-of-12">
                            <button class="btn btn-default">Add Activity</button>
                            <p></p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Activity Type</th>
                                <th>Date Created</th>
                                <th>Institute</th>
                                <th>Options</th>
                            </tr>
                            <tr>
                                <td>Activity D</td>
                                <td>12/08/2014</td>
                                <td>Institute A</td>
                                <td>
                                    <button class="btn btn-default btn-sm" value="Edit">Edit</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <a href="CF_USER_home.html"> CF_USER HomePage </a> | <a href="CF_APPROVER_home.html"> CF_APPROVER HomePage</a>
        </div>
        <div class="grid__col grid__col--3-of-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search</h3>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" style="padding: 9px 12px;">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>