<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet"
          href="css/grid.css">
    <link rel="stylesheet"
          href="css/main.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
</head>
<body>
<h1>Index</h1>
<h6> After the user has logged in they will be taken to one of three pages depending on their role</h6>

    <ul>
        <li><a href="CF_USER_home.html">user</a></li>
        <li><a href="CF_APPROVER_home.html">approver</a></li>
        <li><a href="CF_ADMIN_home.html">cf admin</a></li>
    </ul>

</body>
</html>