<html>
<head>
    <link rel="stylesheet"
          href="css/grid.css">
    <link rel="stylesheet"
          href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        function clearInput(value) {
            $(value).val(' ');
        }

    </script>
</head>
<body>
<div class="main-body">
    <div class="grid">
        <div class="grid__col grid__col--12-of-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Search Results</h2>
                </div>
                <div class="panel-body">

                </div>
            </div>

            <a href="CF_USER_home.html"> Go Back to User Home </a> |
            <a href="CF_USER_createActivityRequest.html"> Go to User Activity Request </a>
        </div>
    </div>
</div>
</body>
</html>